@page "/import"

@using FinchServer.Database
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<DataContext> DbContextFactory

<div class="flex flex-col gap-6">
    <div class="breadcrumbs text-sm">
        <ul>
            <li>Import music</li>
        </ul>
    </div>
    
    <div class="flex items-center justify-end">
        <NavLink class="btn btn-primary" href="/import/new">
            Import music
        </NavLink>
    </div>
    
    <table class="table table-zebra">
        <thead>
        <tr>
            <th></th>
            <th>Job ID</th>
            <th>Files</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        @if (_importJobs.Length > 0) {
            @foreach (var job in _importJobs) {
                <tr>
                    <td class="w-4">
                        @if (job.IsCompleted) {
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-success">
                                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd"/>
                            </svg>
                        }
                        else {
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                            </svg>
                        }
                    </td>
                    <td><NavLink href="@($"/import/{job.Id}")">@job.Id</NavLink></td>
                    <td>@job.Files.Count</td>
                    <td>@job.CreatedAt.ToLongDateString()</td>
                </tr>
            }
        } else {
            <tr>
                <td colspan="4" class="text-center">No jobs available, <NavLink class="font-semibold" href="/import/new">create a new import</NavLink></td>
            </tr>
        }
        
        </tbody>
    </table>
</div>

@code {
    
    // - Private Properties

    private Database.ImportJob[] _importJobs = [];
    
    
    // - Functions

    protected override async Task OnInitializedAsync() {
        if (!RendererInfo.IsInteractive) return;

        var context = await DbContextFactory.CreateDbContextAsync();
        _importJobs = await context.ImportJobs.Include(j => j.Files).ToArrayAsync();
    }
}
